@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  transition: 0.3s ease all;
}

img:hover {
  scale: 103%;
}
.spinner {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner::before,
.spinner::after {
  border: 6.7px solid #00adb5;
  border-radius: 50%;
  position: absolute;
  content: '';
  display: block;
}

.spinner::before {
  width: 55px;
  height: 55px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: spinner-1o3y8q 0.75s infinite linear reverse;
}

.spinner::after {
  animation: spinner-1o3y8q 0.5s infinite linear;
  height: 100px;
  width: 100px;
  border-right-color: transparent;
  border-top-color: transparent;
}

@keyframes spinner-1o3y8q {
  to {
    transform: rotate(360deg);
  }
}

input[type='search']::-webkit-search-cancel-button {
  position: absolute;
  left: 11px;
  cursor: pointer;
  color: #eee;
  background: #00adb5;
  background-size: 10px 10px;
}
